*{
    margin: 0;
}
body{
    background-color: #0f172a;
}
#c{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}
#c a:hover{
    color: black;
    background-color: orange;
    text-decoration: underline;
    transform: scale(1.1);
    transition: 0.4s;
    border-radius: 15px;
}
#b1{
    color: white;
    text-decoration: none;
}
#d{
    border-radius: 100%;
}
#d:hover{
    box-shadow: 0 0 15px whitesmoke , 0 0 30px whitesmoke;
    transform: scale(1.05);
    transition: 0.5s;
    
}
#c ul{
    color: rgb(255, 255, 255);
    position: absolute;
    right: 0;
}
#c ul li{
    list-style-type: none;
    display: inline;
}
a{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#x{
    position: relative;
    height: 400px;
    width: 315px;
    text-align: center;
    background-color: #111;
    margin-left: 30px;
    margin-right: 40px;
    border-radius: 15px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: top;
}
#y{
    text-align: center;
}
#x img{
    margin-top: 20px;
    width: 290px;
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 0 10px whitesmoke , 0 0 13px whitesmoke;
}
#p2{
    color: wheat;
    text-align: left;
    margin-left: 10px;
    text-decoration: underline;
    font-size: 20px;
}
#p1{
    color: whitesmoke;
    text-align: right;
    margin-top: 10px;
    font-size: 24px;
}
s{
    color: red;
}
#x ul{
    color: wheat;
    text-align: left;
}
button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: red;
    border-radius: 20px;
    font-size: 25px;
    
    cursor: pointer;
}
#x:hover{
    box-shadow: 0 0 15px rgb(157, 2, 157), 0 0 30px rgb(157, 2, 157);
    transform: scale(1.07);
    transition: 0.7s;
}
button:hover{
    background-color: lime;
    transition: 0.7s;
    transform: scale(1.07);
}